<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="copy" class="text-center d-flex justify-content-between py-5 container-fluid">
        <div class="text-center flex-grow-1">
            <h1>Codecool Shop</h1>
        </div>
        <div class="align-self-center pe-5">
            <button type="button" class="btn btn-primary position-relative">
                <i class="bi bi-cart3"></i>
                <span id="cart-item-qty" class="visually-hidden position-absolute top-0 start-100 translate-middle badge rounded-pill btn-danger"></span>
            </button>
        </div>
    </div>

</body>
</html>