<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div>
        <form action="#" th:action="@{/}" method="post">
            <div class="form-group">
                <label for="category-select">Category</label>
                <select class="form-control" id="category-select" name="category-select">
                    <option th:each="category: ${allCategories}" th:value="${category.id}" th:text="${category.name}"></option>

                </select>
                <button id="filterBtn" type="button" class="btn btn-primary">Filter</button>
            </div>


        </form>
    </div>
</div>

</body>
</html>